body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #444;
}

header {
    background-color: #0f8a5f;
    color: #fff;
    padding: 20px;
}

h1 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 36px;
    font-weight: normal;
}

main {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 22px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.baseUrl p {
    font-family: monospace;
    font-size: 16px;
}

.category {
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.category h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.endpoint {
    margin-bottom: 20px;
}

.method {
    font-size: 18px;
    color: #666;
}
.endpoint-desc {
    font-size: 14px;
    color: #666;
  }
  
pre.body {
    font-family: monospace;
    font-size: 16px;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd;
}

.hide {
    display: none;
}

.show-hide {
    cursor: pointer;
    text-decoration: underline;
}
.category.collapsed .category-content {
    display: none;
  }
  